<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>관리자 로그인</title>
    <link rel="stylesheet" th:href="@{/css/auth/adminLogin.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content" class="wrap-container">
    <div class="home-container">
        <div class="login-box">
            <div class="flex justify-center col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                ADMIN PANEL
            </div>
            <form th:action="@{/auth/login.do}" method="post">
                <div class="user-box">
                    <input type="text" name="" required="">
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="password" name="" required="">
                    <label>Password</label>
                </div>
                <button type="submit" class="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

<script layout:fragment="script"></script>
</html>
