textarea#title
{
    width: 850px;
    height: 40px;
    background-color: rgba(255,255,255,0.3);
    margin-left: -80px;
}
textarea#content
{
    height: 300px;
}
/*div#createNotice*/
/*{*/
/*    margin-left: 33%;*/
/*}*/
/*.dropdown {*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    position: fixed;*/
/*    top: 240px;*/
/*    margin-left: 780px;*/
/*}*/

/*#save*/
/*{*/
/*    padding: 7px 15px;*/
/*    background-color: rgba(255,255,255,0.3);*/
/*    color: white;*/
/*    border: 2px solid black;*/
/*    box-shadow: 0 0 0 3px #fff, 0 0 0 4px black;*/
/*    border-radius: 10px;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    position: fixed;*/
/*    bottom: 310px;*/
/*    margin-left: 20px;*/
/*}*/
/*#save:hover {*/
/*    background-color: forestgreen;*/
/*    color: black;*/
/*    border-color: white;*/
/*}*/
/*#selectedTypeDisplay*/
/*{*/
/*    padding: 7px 15px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    position: fixed;*/
/*    bottom: 270px;*/
/*}*/
footer {
    height: 60px;
    /*position: relative;*/
    transform: translateY(0%);
    /* 페이지의 아래쪽에 고정 */
    width: 99%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}