html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Agency FB";
    font-weight: 500;
    font-size: 1.2em;
}
.wrap-container {
    height: auto;
    min-height: 100%;
    padding-bottom: 60px;
}
.home-container {
    min-height: 600px;
}
footer {
    height: 60px;
    position: relative;
    transform: translateY(0%);
}
.centered-container {
    width: 80%; /* 또는 원하는 너비 */
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 20px; /* 내부 여백은 선택적 */
}
/*.container {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/

table {
    width: 1300px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 10px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

th,td {
    text-align: left;
}
td{
    padding-left: 20px;
}
thead >tr>th{
    background-color: #232323;
    border-top: 2px solid #ff003b;
    border-bottom: 2px solid #ff003b;
    text-align: center;
}
tbody > tr{
    text-align: center;
    font-size: 0.8em;
    height: 400px;
}

tbody {
    tr {
        &:hover {
            background-color: rgba(255,255,255,0.3);
        }
    }
    td {
        position: relative;
    }
}

.back-to-list-btn {
    padding: 7px 15px;
    background-color: rgba(255,255,255,0.3);
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px black;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    /*position: fixed;*/
    bottom: 200px;
    right: 120px;
    width: 112px;
}
/* 버튼 호버 효과 */
.back-to-list-btn:hover {
    background-color: cornflowerblue;
    color: black;
    border-color: white;
}
/* 오른쪽 아래에 위치 */
.button-container {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    /*position: fixed;*/
    bottom: 200px;
    right: 130px;
}
#deleteNoticeBtn {
    padding: 7px 15px;
    background-color: rgba(255,255,255,0.3);
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px black;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    /*position: fixed;*/
    bottom: 200px;
    right: 250px;
    width: 112px;
    font-size: medium;
}
#deleteForm :hover {
    background-color: red;
    color: black;
    border-color: white;
}
.deleteBtn
{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    /*position: fixed;*/
    bottom: 200px;
    right: 250px;
}
footer {
    height: 60px;
    /*position: relative;*/
    transform: translateY(0%);
    /* 페이지의 아래쪽에 고정 */
    width: 99%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
