html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Calibri Light";
    font-weight: 500;
    font-size: 1.2em;
}
header {
    font-family: "Agency FB";
    font-weight: 500;
    font-size: 1.2em;
}
section#content {
    min-height: calc(100vh - 195px); /* 섹션의 최소 높이를 화면 높이에서 헤더와 푸터의 높이를 뺀 값으로 설정 */
    position: relative; /* 섹션을 상대 위치로 설정 */
    padding: 0;
}
/*.wrap-container {*/
/*    height: auto;*/
/*    min-height: 100%;*/
/*    padding-bottom: 60px;*/
/*}*/
/*.home-container {*/
/*    min-height: 600px;*/
/*    margin: 0 50px 0 0;*/
/*}*/
footer {
    background-color: #212121;
    background-clip: content-box;
    /*position: relative;*/
    height: 113px;
    bottom: 0; /* 바디 하단에 배치 */
    width: 100%; /* 너비를 바디와 일치시킴 */
    font-family: "Agency FB";
}
.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 또는 원하는 너비 */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
    /*padding: 40px 0; !* 내부 여백은 선택적 *!*/
    /*transform: translate(-12%, -127%);*/
}
.container {
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}
.notice-List
{
    /*margin-left: -340px;*/
}
table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

th {
    text-align: left;
    font-size: large;
}

thead >tr>th{
    background-color: #232323;
    border-top: 2px solid #ff003b;
    border-bottom: 2px solid #ff003b;
    text-align: center;
}
tbody > tr{
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
}

tbody {
    & tr {
        &:hover {background-color: rgba(255,255,255,0.3);

        }
    }
    & td {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                /*top: -9999px;*/
                /*bottom: -9999px;*/
                background-color: rgba(255,255,255,0.2);
                z-index: -1;
                text-align: center;
            }
        }
    }
}
#createNotice
{
    padding: 7px 15px;
    background-color: rgba(255,255,255,0.3);
    color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px black;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    bottom: 160px;
    right: 410px;
    font-size: medium;
}
#createNotice:hover {
    background-color: forestgreen;
    color: black;
    border-color: navajowhite;
}