<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>공지사항관리</title>
</head>
<style layout:fragment="style"></style>
    <table id="notice">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>공지내용</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice, status : ${notice}" th:data-notice-id="${notice.id}">
            <td th:text="${notice.id}"></td>
            <td th:text="${notice.noticeTitle}"></td>
            <td th:text="${notice.noticeContent}"></td>
        </tr>
        </tbody>
    </table>
<div layout:fragment="content"></div>

<script layout:fragment="script"></script>
</html>