<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>공지사항관리</title>
</head>
<style layout:fragment="style">
    table
    {
        margin-top: 30px;
        margin-left: 20px;
    }
    th#noticeNumber
    {
        width: 50px;
        padding-left: 5px;
    }
    th#noticeTitle
    {
        width: 490px;
    }
    th#noticeContent
    {
        width: 1150px;
    }
    th#noticeType
    {
        padding-left: 8px;
        text-align: center;
    }
    td
    {
        text-align: left;
        vertical-align : middle;
        padding-left: 24px;
        padding-top: 8px;
    }
</style>

<div layout:fragment="content">
    <button id="createNotice" th:onclick="|location.href = '@{/admin/createNotice.do}';|">추가</button>
    <button id="deleteNotice" th:onclick="|location.href = '@{/admin/deleteNotice.do}';|">삭제</button>
    <table id="notice">
        <thead>
        <tr>
            <th id="noticeNumber">번호</th>
            <th id="noticeTitle">제목</th>
            <th id="noticeContent">공지 내용</th>
            <th id="noticeType">공지 유형</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice : ${notices}" th:data-notice-id="${notice.id}">
            <td th:text="${notice.id}"></td>
            <td th:text="${notice.noticeTitle}"></td>
            <td id="noticeContent1" th:text="${notice.noticeContent}"></td>
            <td th:text="${notice.noticeType}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script layout:fragment="script"></script>
</html>