<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>예매완료</title>
    <link th:href="@{/css/reservation/reservationComplete.css}" rel="stylesheet">
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content">
    <span>예매 완료</span>
    <br>
    <hr style="height: 1px">
    <br>
    <div class="container">
        <div class="centered-box">
            예매가 완료 되었습니다.
        </div>

        <a th:href="@{/}" id="goHome" class="block text-xl font-semibold py-2 px-3 text-white rounded md:bg-transparent md:text-white md:p-0 md:dark:text-white md:hover:text-red-600 dark:bg-blue-600 md:dark:bg-transparent" aria-current="page">메인으로</a>
    </div>

</div>
<script th:inline="javascript" layout:fragment="script" th:src="@{/js/reservation/reservationComplete.js}">

</script>


</html>
