<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layout/default}">
<head>
    <title>예매</title>
    <link th:href="@{/css/reservation/reservation.css}" rel="stylesheet">
</head>
<style layout:fragment="style"></style>
<div layout:fragment="content" class="px-10">
    <!-- 동적으로 변할 conetent page -->
    <span>예매</span>
    <br>
    <hr style="height: 1px">
    <br>
    <!-- 4개의 영역을 감싸는 최상단 div -->
    <div class = "info-movies">

        <table class="movieData-area">
            <thead>
            <tr>
                <th colspan="2">영화</th>
            </tr>
            </thead>
            <tbody>
<!--         0326 - movieData를 movie로 수정하기.   -->
            <tr th:each="movie, status : ${dataMap.movies}">
<!--                0326 기존은 movie.poster였는데 에러가 발생함. posterUrl로 변경해보자..-->

<!--                <th:block th:if="${#strings.startsWith(movie.posterUrl, 'http://file.koreafilm.or.kr')}">-->
<!--                    <img th:src="${movie.posterUrl}" th:alt="${movie.title}">-->
<!--                </th:block>-->

<!--                <th:block th:if="${!#strings.startsWith(movie.posterUrl, 'http://file.koreafilm.or.kr')}">-->
                <!-- 사이트에서 포스터 이미지를 가져오는 방법. 주소+movie.posterUrl -->
<!--                    <img th:src="|https://image.tmdb.org/t/p/w200${movie.posterUrl}|" th:alt="${movie.title}">-->


                </th:block>
                <td class="select-movieData"
                    th:data-poster="${movie.posterUrl}"
                    th:data-title="${movie.title}"
                    th:attr="data-movieData-id=${movie.id}"
                    onclick="showPoster(this.getAttribute('data-poster'), this.getAttribute('data-title'))">

                    <th:block th:if="|${movie.filmRatings == '전체관람가'}|">
                        <span style="font-size: 0.4em" class="grade bg-gradient-to-r bg-green-100 text-green-800 text-m font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">ALL</span>
                    </th:block>
                    <th:block th:if="|${movie.filmRatings == '12세관람가'}|">
                        <span style="font-size: 0.4em" class="grade bg-gradient-to-r bg-yellow-100 text-yellow-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">12</span>
                    </th:block>
                    <th:block th:if="|${movie.filmRatings == '15세관람가'}|">
                        <span style="font-size: 0.4em" class="grade bg-gradient-to-r bg-purple-100 text-purple-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">15</span>
                    </th:block>
                    <th:block th:if="|${movie.filmRatings == '18세관람가(청소년관람불가)'}|">
                        <span style="font-size: 0.4em" class="grade bg-gradient-to-r bg-red-100 text-red-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">18</span>
                    </th:block>
                    <th:block th:if="|${movie.filmRatings == '정보 없음'}|">
                        <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-gray-100/50 bg-gray-100 text-gray-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">미정</span>
                    </th:block>
                    <button
                            th:text="${#strings.abbreviate(movie.title, 12)}">
                    </button>
                </td>


            </tr>
            </tbody>
        </table>

        <table class="cinema-area">
            <thead>
            <tr>
                <th>지점</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="location, status : ${dataMap.locations}">
                <td th:text="${location.location_name}"></td>
                <td>
                    <div class="cinema-list">
                        <ul>
                            <hr th:if="${status.index != 0}" style="height: 1px">
                            <li th:each="cinema : ${location.cinemas}">

                                <button type="button" class="select_location2" th:text="${cinema.region_cinema}"
                                        th:attr="data-cinema-id=${cinema.id}"></button>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>



        <table>
            <thead>
            <tr>
                <th colspan="2">날짜</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="date, index : ${dataMap.dateList}">
                <td>
                    <button type="button" class="select_date"
                            th:text="${date + ' ' + dataMap.dayOfWeekList[index.index]}" th:attr="data-date-id=${date}"></button>
                </td>
            </tr>
            </tbody>
        </table>

        <table id="scheduleTable">
            <thead>
            <tr>
                <th colspan="4">상영 일정</th>
            </tr>
            </thead>
            <tbody id="tbody_schedule">

            </tbody>
        </table>
    </div>

    <!-- 좌석 관련 정보를 모두 감싸는 부모 div -->
    <div class = "info-seats">
        <!-- 1.관람인원 선택 div -->
        <div class = "select-people-title">
            <span>관람 인원을 선택해주세요.(최대 8명)</span>
            <!--            <button id="btn-clear" type="button" th:onclick="myFunction()">초기화 btn</button>-->
            <button id="btn-clear" type="button"
                    th:onclick="myFunction()">
                초기화</button>
        </div>

        <div class = "select-people-content">
            <span>일반 </span>
            <button id="minus" type="button" onclick="count('minus')">-</button>
            <div id='peopleResult'>0</div>
            <button id="plus" type="button" onclick="count('plus')">+</button>
        </div>
        <!-- 2.좌석 정보 및 선택 div -->
        <div class="all-seats" >
            <div class = "screen-div">
                <span>Screen</span>
            </div>
            <table>
                <tbody id="seatTableBody">
                </tbody>
            </table>
        </div>

        <!-- 3. 좌석 상태 정보(예매가능,불가능 등을 알려주는 고정 표) -->
        <div class="state-seat">
            <div class="item">선택가능</div>
            <div class="item">선택불가</div>
            <div class="item">선택좌석</div>
        </div>
    </div>

    <ul id="test-area">
        <li th:each="val : ${testSeat}" th:text="${val}"></li>
    </ul>



    <!--  4. 하단에 선택한 좌석 정보 출력   -->
    <div class="select-seats">
        <button class="select-seats-prev-button">이전</button>
        <div class="center-content">
            <div class="seat-container1">
                <img class="seat-container1-img"/>
                <div class="seat-container1-title"></div>
            </div>
            <div class="seat-container2">
                <div class="seat-container2-1">
                <div class="seat-container2-1cinema">극장</div>
                <div class="seat-container2-1date">일시</div>
                <div class="seat-container2-1theater">상영관</div>
                <div class="seat-container2-1people">인원</div>
                </div>
                <div class="seat-container2-2">
                    <div class="seat-container2-2cinema">-</div>
                    <div class="seat-container2-2date">-</div>
                    <div class="seat-container2-2theater">-</div>
                    <div class="seat-container2-2people">-</div>
                </div>
            </div>
            <div class="seat-container3">
                <div class="seat-container3-1">선택한 좌석</div>
                <div class="seat-container3-2">-</div>
                <div class="seat-container3-3">총 금액</div>
                <div class="seat-container3-4">-</div>
            </div>
        </div>
        <button class="select-seats-next-button">다음</button>
        <th:block sec:authorize="isAuthenticated()">
        <button
                class="select-requestPay-button"
                th:data-memberId="${#authentication.principal.member.id}"
                th:data-username="${#authentication.principal.username}"
                th:data-memberPhone="${#authentication.principal.member.memberPhone}"
                onclick="requestPay(this.getAttribute('data-memberId'),this.getAttribute('data-username'),this.getAttribute('data-memberPhone'))"
                >
            결제
        </button>
        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
            <button
                    class="select-requestPay-button"
                    onclick="requestPay_notworking()"
            >
                결제
            </button>
        </th:block>
<!--        <button class="select-requestPay-button" onclick="dtoTest()">dtoTest</button>-->
    </div>

    <div style="display: none;">
    <th:block sec:authorize="isAuthenticated()">
        <span sec:authentication="principal.username" th:title="${#authentication.authorities}"></span>
    </th:block>
    </div>
</div>
<script th:inline="javascript" layout:fragment="script" th:src="@{/js/reservation/reservation2.js}">

</script>

</html>
