<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>좌석선택</title>
    <!-- 각 페이지마다 별도의 css를 적용할 경우 아래와 같이 작성하자 ...  -->
    <link rel="stylesheet" th:href="@{/css/reservation1/reservation1.css}"/>
</head>

<style layout:fragment="style"></style>
<div layout:fragment="content">
    <div class="movieData-container">
        <label>Pick a movieData</label>
        <select name="" id="movieData">
            <option value="12">Star Wars - The Return of the Jedi ($12)</option>
            <option value="10">Fast and Furious - The Last Ride ($10)</option>
            <option value="5">Cadaver ($5)</option>
            <option value="8">Jurasic World ($8)</option>
        </select>
    </div>

    <ul class="showcase">
        <li>
            <div class="seat"></div>
            <small>N/A</small>
        </li>
        <li>
            <div class="seat selected"></div>
            <small>Selected</small>
        </li>
        <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
        </li>

    </ul>

    <div class="container">
        <div class="screen"></div>
        <div class="row">
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat occupied"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat occupied"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat "></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
        </div>
        <div class="row">
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
        </div>

    </div>

    <p class="text">You have selected <span id="seatsSelected">0</span> seats for the price of $<span
            id="totalPrice">0</span></p>

</div>
<script layout:fragment="script" th:src="@{/js/reservation1/reservation1.js}"></script>
</script>

</html>
