<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layout/default}">
<head>
    <title>공지사항&뉴스</title>
    <link rel="stylesheet" th:href="@{/css/notice/noticeList.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">

<!--    <div class="flex items-center justify-start">-->

        <div class="centered-container flex justify-center">
            <!--  menu박스  -->
            <div class="title-box">
                <span class="border-b-2 border-red-600 font-semibold pb-2 mt-10 text-xl">
                    공지/뉴스
                </span>
            </div>
            <div>
                <p class="text-sm pt-6 flex justify-center">BootBox의 주요한 이슈 및 여러가지 소식들을 확인하실 수 있습니다.</p>
            </div>
        </div>

        <!-- table박스 -->
        <div class="flex justify-center">
            <div class="container flex justify-center mt-10">

                <th:block sec:authorize="hasAuthority('ROLE_USER') or isAnonymous()">
                    <div class="notice-List mr-10">
                        <div class="w-48 text-gray-900 bg-white border border-red-800 rounded-lg dark:bg-red-600 dark:border-red-800 dark:text-white">
                            <div type="text" class="bg-red-600 relative inline-flex justify-center w-full px-4 py-2 text-base font-semibold border-b border-red-600 rounded-t-lg">
                                <svg class="w-5 h-5 me-2.5 mt-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                                </svg>
                                고객센터
                            </div>
                            <button type="button" class="bg-black text-white relative inline-flex justify-center w-full px-4 py-2 text-sm font-medium border-b border-red-800 hover:bg-gray-100 hover:text-rose-600 focus:z-10 focus:border-red-500 focus:ring-0 focus:text-white dark:border-red-800 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                                <svg class="w-4 h-4 me-2.5 mt-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.75 4H19M7.75 4a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 4h2.25m13.5 6H19m-2.25 0a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 10h11.25m-4.5 6H19M7.75 16a2.25 2.25 0 0 1-4.5 0m4.5 0a2.25 2.25 0 0 0-4.5 0M1 16h2.25"/>
                                </svg>
                                공지&뉴스
                            </button>

                            <button th:onclick="|checkAuthentication(); location.href = '@{/ask/createAsk.do}';|" type="button" class="rounded-b-lg bg-black text-white relative inline-flex justify-center w-full px-4 py-2 text-sm font-medium border-b border-red-800 hover:bg-gray-100 hover:text-rose-600 focus:z-10 focus:border-red-500 focus:ring-0 focus:text-white dark:border-red-800 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                                <svg class="w-4 h-4 me-2.5 mt-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" fill="currentColor">
                                    <path d="M18 4H16V9C16 10.0609 15.5786 11.0783 14.8284 11.8284C14.0783 12.5786 13.0609 13 12 13H9L6.846 14.615C7.17993 14.8628 7.58418 14.9977 8 15H11.667L15.4 17.8C15.5731 17.9298 15.7836 18 16 18C16.2652 18 16.5196 17.8946 16.7071 17.7071C16.8946 17.5196 17 17.2652 17 17V15H18C18.5304 15 19.0391 14.7893 19.4142 14.4142C19.7893 14.0391 20 13.5304 20 13V6C20 5.46957 19.7893 4.96086 19.4142 4.58579C19.0391 4.21071 18.5304 4 18 4Z" fill="currentColor"/>
                                    <path d="M12 0H2C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2V9C0 9.53043 0.210714 10.0391 0.585786 10.4142C0.960859 10.7893 1.46957 11 2 11H3V13C3 13.1857 3.05171 13.3678 3.14935 13.5257C3.24698 13.6837 3.38668 13.8114 3.55279 13.8944C3.71889 13.9775 3.90484 14.0126 4.08981 13.996C4.27477 13.9793 4.45143 13.9114 4.6 13.8L8.333 11H12C12.5304 11 13.0391 10.7893 13.4142 10.4142C13.7893 10.0391 14 9.53043 14 9V2C14 1.46957 13.7893 0.960859 13.4142 0.585786C13.0391 0.210714 12.5304 0 12 0Z" fill="currentColor"/>
                                </svg>
                                문의하기
                            </button>
                        </div>
                    </div>
                </th:block>

                <table>
                    <thead class="text-base">
                    <tr>
                        <th>번호</th>
                        <th>구분</th>
                        <th>제목</th>
                        <th>등록일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notice : ${notices}" th:data-notice-id="${notice.id}"
                        th:onclick="|location.href = '@{/notice/noticeDetail.do(id=${notice.id})}'|">

                        <td th:text="${notice.id}">1</td>
                        <td th:text="|[ ${notice.noticeType.name() == 'SYSTEM' ? '시스템' :
                                                          notice.noticeType.name() == 'CINEMA' ? '상영관' :
                                                          notice.noticeType.name() == 'EVENT' ? '이벤트' :
                                                          notice.noticeType.name() == 'ETC' ? '기타' : '기타'} ]|">시스템점검</td>
                        <td th:text="${notice.noticeTitle}">제목</td>
                        <td th:text="${#temporals.format(notice.createdAt, 'yyyy/MM/dd HH:mm')}">Cell 4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 관리자, 매니저만 사용가능 -->
        <div class="flex justify-end mt-4 mr-44 mb-12">
            <input sec:authorize="hasAnyAuthority('ROLE_MANAGER', 'ROLE_ADMIN')"
                   type="button" value="공지사항추가" id="createNotice"
                   th:onclick="|location.href = '@{/notice/createNotice.do}';|" />
        </div>

</div>

<script layout:fragment="script">
    // 서버로부터 인증 상태를 받아오기
    var isAuthenticated = [[${#authorization.expression('isAuthenticated()')}]];

    function checkAuthentication() {
        if (!isAuthenticated) {
            alert('회원만 접근 가능합니다. 먼저 로그인을 해주세요.😊');
        } else {
            // 인증된 사용자인 경우에만 문의 페이지로 리다이렉션
            location.href = '@{/ask/createAsk.do}';
        }
    }
</script>
</html>
