@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
/* 영화이미지 밑 영화제목*/
.movie-title {
    display:flex;
    justify-content:flex-start;
    font-size: 60%;
    font-weight:bold;
    margin-top: 10px;
}

.movie-content {
    display:flex;
    justify-content:flex-start;
}
.movie-content > img {
    width:10%;
    height: 20%;
    margin-top:-5px;
    margin-left: -5px;
}
.movie-content > span {
    padding:0px;
    font-size:60%;
    font-weight:lighter;
    color: #c7c7c7;
    margin-right: 5px;
    margin-bottom: -3px;
}
/* section-1-2 */
.section-1-2 {
    width:100%;
    height:380px;
    justify-content: space-evenly
}
.section-1-2 > div > div > a > img {
    width: 200px;
    height: 270px;
    border-radius:10px;
}
.section-1-2 > div > div > div {
    position:relative;
    width: auto;
    height: auto;
    margin: 10px;
}
/*.section-1-2 > div:nth-child(5) > div{*/
/*    margin:10px;*/
/*}*/
/* section-1-1 */
.section-1 {
    width:100%;
    height:462px;
}

.movie-chart > a > h1 {
    padding: 20px 10px;
}
.movie-chart > a > h1 {
    color: #6b645e;
}
.movie-chart > a:first-child > h1 {
    color: #22241f;
}
.full-view {
    width: 100px;
    height:30px;
    background-color:white;
    font-size:90%;
    font-weight:bold;
    color:#1f2012;
    border-radius:20px;
    border:1px solid #e2e2e2;
}
.grade {
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 150px;*/
    /*line-height: 1.1;*/
    /*font-size: 1em;*/
    font-style: italic;
    /*font-family: 'Roboto';*/
    /*font-weight: 300;*/
    /*color: #fff;*/
    /*text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);*/
    margin: 5px;
}
.movie_action {
    position: relative;
    /*margin-top: 10px;*/
}
.movie_button {
    font-weight: lighter;
    background-color: red;
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 2px 25px;
}
.wrap-container {
    height: auto;
    min-height: 100%;
    padding-bottom: 60px;
}
.home-container {
    min-height: 600px;
}
footer {
    height: 60px;
    position: relative;
    transform: translateY(0%);
}

.li-text{
    font-family: "Dongle", sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: x-large;
}

#scheduled-movie img {
    display: none;
}

#scheduled-movie:hover img {
    display: block;
}

#scheduled-movie:hover #hover-text {
    color: rgb(239 68 68);
}