/* movie detail영역 */
* {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #ff003b;
    --color-gray-1: #a9a9a9;
}


* {
    font-size: 16px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #080a1c;
    color: var(--color-white);
}
button {
    cursor: pointer;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
}

.movie_home {
    margin-top: 30px;
}

.movie_info {
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;
    align-items: center;
    flex-direction: row-reverse;
}
div {
    padding: 10px;
}

.movie_info-left {
    margin-right: 100px;
}
.movie_breadcrumb {
    display: flex;
    margin: 20px 0;
}
.movie_breadcrumb-item {
    color: var(--color-gray-1);
}
.movie_breadcrumb-item:not(:last-child) {
    margin-right: 20px;
}
.movie_breadcrumb-item.selected {
    color: var(--color-white);
}
.movie_title {
    position: relative;
    margin-top: 50px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
}
.movie_title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: var(--color-primary);
}
.movie_rate {
    display: flex;
    margin-top: 30px;
    font-size: 10px;
}
.movie_stars {
    display: flex;
}
.movie_star {
    margin-right: 10px;
}
.movie_star i {
    color: var(--color-gray-1);
}
.movie_star.rated i {
    color: yellow;
}
.movie_comment {
    margin-left: 10px;
    font-size: 12px;
    color: var(--color-gray-1);
}
.movie_des {
    margin-top: 30px;
    width: 450px;
    color: var(--color-gray-1);
}
.movie_action {
    position: relative;
    margin-top: 10px;
}
.movie_button {
    font-weight: 300;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 13px 25px;
}

.movie_info-right {
    margin-left: 30px;
    width: 500px;
}
.movie_img {
    position: relative;
    height: 400px;
}
.movie_img-item {
    position: absolute;
    object-fit: cover;
    height: 350px;
}
.movie_img-item.movie_img-first {
    top: 0px;
    left: 0px;
    width: 500px;
    opacity: 0.3;
    z-index: 2;
}
.movie_img-item.movie_img-second {
    top: 6px;
    left: -10px;
    width: 520px;
    opacity: 0.6;
    z-index: 3;
}
.movie_img-item.movie_img-third {
    top: 12px;
    left: -20px;
    width: 540px;
    opacity: 0.8;
    z-index: 4;
}
.movie_img-item.movie_img-fourth {
    top: 18px;
    left: -30px;
    width: 560px;
    opacity: 1;
    z-index: 5;
}