/*div#cinemaReservation {*/
/*    display: inline-grid;*/
/*}*/
hr {
    background-color: #ff3939;
    border: 0;
}
div
{
    font-family: "Bahnschrift";
}
h2
{
    height: 38px;
    font-family: "Bahnschrift";
    background-color: black;
    color: white;
    text-align: center;
}
div#movie
{
    background-color: #d6d5d2;
}
div#cinema
{
    background-color : #d6d5d2;
}
div#date
{
    background-color : #d6d5d2;
}
div#time
{
    background-color : #d6d5d2;
}
div.movieSelect
{
    background-color: darkgrey;
    height: 108px;
    width: 212px;
    display: block;
}
ul
{
    width: 130px;
    height: 28px;
}
div#dateList
{
    overflow: scroll;
    width: 150px;
    height: 210px;
    -ms-overflow-style: none;
}
div#dateList::-webkit-scrollbar{
    display:none;
}
div#cinemaList
{
    overflow: scroll;
    width: 150px;
    height: 210px;
    -ms-overflow-style: none;
}
div#cinemaList::-webkit-scrollbar{
    display:none;
}
div#locationAndCinemaList
{
    height: 300px;
}
/*.col-body*/
/*{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/