hr {
    background-color: #ff3939;
    border: 0;
}
div
{
    font-family: "Bahnschrift";
}
h2
{
    height: 38px;
    font-family: "Bahnschrift";
    background-color: black;
    color: white;
    text-align: center;
}
div#movie
{
    background-color: #d6d5d2;
}
div#cinema
{
    background-color : #d6d5d2;
}
div#date
{
    background-color : #d6d5d2;
}
div#time
{
    background-color : #d6d5d2;
    margin-bottom: 5px;
}

/* 영화 */
div.movieSelect
{
    background-color: darkgrey;
    height: 108px;
    width: 212px;
    display: block;
}
ul
{
    width: 130px;
    height: 28px;
}
ul#movieList
{
    overflow: scroll;
    width: 150px;
    height: 300px;
    -ms-overflow-style: none;
}
ul#movieList::-webkit-scrollbar
{
    display:none;
}

/* 극장 */
div#cinemaList
{
    overflow: scroll;
    width: 150px;
    height: 210px;
    -ms-overflow-style: none;
}
div#cinemaList::-webkit-scrollbar
{
    display:none;
}
div#locationAndCinemaList
{
    height: 300px;
}
#locationList li
{
    cursor: pointer;
}

#locationList li.active
{
    font-weight: bold;
}

#cinemaList
{
    margin-left: -30px;
}

.hidden
{
    display: none;
}

/* 날짜 */
div#dateList
{
    overflow: scroll;
    width: 150px;
    height: 265px;
    -ms-overflow-style: none;
}
div#dateList::-webkit-scrollbar
{
    display:none;
}
div#dateList1
{
    overflow: scroll;
    width: 150px;
    height: 265px;
    -ms-overflow-style: none;
}
div#dateList1::-webkit-scrollbar
{
    display:none;
}

/* 시간 */
.endTime
{
    display: none;
}
li:hover .endTime
{
    display: block;
    color: teal;
    font-size: medium;
    margin-left: 5px;
}

/* 선택한 정보 */
/* 영화 */
#movieSelect
{
    margin-left: 30px;
    width: 300px;
    height: 150px;
}
#movieSelectionText
{
    text-align: center;
    font-size: x-large;
}
#selectedMovie
{
    text-align: center;
    font-size: x-large;
}

/* 극장 */
#cinemaSelect
{
    margin-left: 30px;
    width: 300px;
    height: 150px;
}
#cinemaSelectionText
{
    text-align: center;
    font-size: x-large;
}
#selectedCinema
{
    text-align: center;
    font-size: x-large;
}