<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        layout:decorate="~{layout/default}">
<head>
    <title>회원 정보 수정</title>
    <link rel="stylesheet" th:href="@{/css/member/updateMember.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content" class="wrap-container">
    <div class="home-container">
        <div class="login-box">
            <h2>회원 정보</h2>
            <form name="memberCreateFrm" th:action="@{/member/updateMember.do}" method="POST">
                <div id="user-box1" class="user-box">
                    <input type="text" class="form-control block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-red-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer" name="memberLoginId" id="memberLoginId" pattern="^\w{4,}$" th:value="${#authentication.principal.username}" th:data-member-id="${#authentication.principal.username}">
                    <!-- 아이디중복검사 코멘트추가 -->
                    <span class="flex mb-3 guide ok text-sm">이 아이디는 사용 가능 합니다.</span>
                    <span class="flex mb-3 guide error text-sm">이 아이디는 사용할 수 없습니다.</span>
                    <input type="hidden" name="idDuplicateCheck" id="idDuplicateCheck" value="0"/>
                    <input type="hidden" name="memberID" id="memberId" th:value="${#authentication.principal.member.id}">
                    <label for="memberLoginId" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
                </div>
                <div class="user-box">
                    <input type="password" id="memberPwd" name="memberPwd" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-red-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer" required>
                    <label for="memberPwd" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                </div>
                <div class="user-box">
                    <input type="password" id="passwordConfirmation" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-red-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer" required>
                    <label for="passwordConfirmation" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">PasswordConfirm</label>
                </div>
                <div class="user-box">
                    <input type="text" id="memberName" name="memberName" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-red-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer" th:value="${#authentication.principal.member.memberName}" required>
                    <label for="memberName" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">name</label>
                </div>
                <div class="user-box">
                    <input type="text" id="birthyear" name="birthyear" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-red-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer" th:value="${#authentication.principal.member.birthyear}" required>
                    <label for="birthyear" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">birthyear</label>
                </div>
                <div class="user-box">
                    <input type="email" id="memberEmail" name="memberEmail" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-red-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer" th:value="${#authentication.principal.member.memberEmail}" required>
                    <label for="memberEmail" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">email</label>
                </div>
                <div class="user-box">
                    <input type="text" id="memberPhone" name="memberPhone" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-red-500 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-white focus:outline-none focus:ring-0 focus:border-white peer" th:value="${#authentication.principal.member.memberPhone}" required>
                    <label for="memberPhone" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">phone</label>
                </div>

                <div class="user-box mt-10">
                    <label class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-white peer-focus:dark:text-white peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Like Genre (선호 영화 장르)</label>
                </div>

                <div class="flex flex-wrap mt-14 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent required">
<!--                    <div th:each="genre : ${allGenres}">-->
<!--                        <div class="flex items-center me-4 mt-1 mb-1">-->
<!--                            <input type="radio" th:value="${genre.genreId}" th:id="${'red-radio' + genre.id}" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required-->
<!--                                   th:checked="${selectedGenres.contains(genre)}">-->
<!--                            <label th:for="${'red-radio' + genre.id}" class="ms-2 text-sm font-medium text-white dark:text-gray-300" th:text="${genre.genreName}"></label>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="flex items-center me-4 mt-1 mb-1">
                        <input id="red-radio1" type="radio" value="액션" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio1" class="ms-2 text-sm font-medium text-white dark:text-gray-300">액션</label>
                    </div>
                    <div class="flex items-center me-4 mt-1 mb-1">
                        <input id="red-radio2" type="radio" value="애니메이션" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio2" class="ms-2 text-sm font-medium text-white dark:text-gray-300">애니메이션</label>
                    </div>
                    <div class="flex items-center me-4 mt-1 mb-1">
                        <input id="red-radio3" type="radio" value="코미디" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio3" class="ms-2 text-sm font-medium text-white dark:text-gray-300">코미디</label>
                    </div>
                    <div class="flex items-center me-4 mt-1 mb-1">
                        <input id="red-radio4" type="radio" value="범죄" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio4" class="ms-2 text-sm font-medium text-white dark:text-gray-300">범죄</label>
                    </div>
                    <div class="flex items-center me-4 mt-1 mb-1">
                        <input id="red-radio5" type="radio" value="드라마" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio5" class="ms-2 text-sm font-medium text-white dark:text-gray-300">드라마</label>
                    </div>
                    <div class="flex items-center me-4 mt-1 mb-1">
                        <input id="red-radio9" type="radio" value="판타지" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio9" class="ms-2 text-sm font-medium text-white dark:text-gray-300">판타지</label>
                    </div>
                    <div class="flex items-center me-4 mt-1 mb-1">
                        <input id="red-radio11" type="radio" value="공포" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio11" class="ms-2 text-sm font-medium text-white dark:text-gray-300">공포</label>
                    </div>
                    <div class="flex items-center me-4 mt-1 mb-1">
                        <input id="red-radio12" type="radio" value="음악" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio12" class="ms-2 text-sm font-medium text-white dark:text-gray-300">음악</label>
                    </div>
                    <div class="flex items-center me-4 mt-1 mb-1">
                        <input id="red-radio14" type="radio" value="로맨스" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio14" class="ms-2 text-sm font-medium text-white dark:text-gray-300">로맨스</label>
                    </div>
                    <div class="flex items-center me-4 mt-1 mb-1">
                        <input id="red-radio15" type="radio" value="SF" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio15" class="ms-2 text-sm font-medium text-white dark:text-gray-300">SF</label>
                    </div>
                    <div class="flex items-center me-4 mt-1 mb-2">
                        <input id="red-radio17" type="radio" value="스릴러" name="genres" class="w-4 h-4 text-red-600 bg-gray-100 border-gray-300 focus:ring-red-500 dark:focus:ring-red-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" required>
                        <label for="red-radio17" class="ms-2 text-sm font-medium text-white dark:text-gray-300">스릴러</label>
                    </div>
                </div>

                <button type="submit" class="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

<script layout:fragment="script" th:src="@{/js/member/updateMember.js}"></script>
</html>
