.navbar {
    width: 100%;
    height: 50px;
    background-color: black;
}
.navbar-container {
    display: flex;
    align-items: center;
    background-color: black;
    height: 100%;
    padding: 0 50px;
    color: white;
}
.logo-container {
    flex: 1.5;
}
.logo {
    font-size: 2rem;
    padding: 0 1rem;
    color: cyan;
}
.menu-container {
    flex: 6;
}
.menu-list {
    display: flex;
    list-style: none;
    align-items: center;
}
.menu-list-item.active {
    font-weight: bold;
    font-size: 1.2rem;
}
.menu-list-item {
    margin: 0 1rem;
}
.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
}
.profile-text-container {
    margin: 0 1.5rem;
}
.profile-pic {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: all 1s ease;
    cursor: pointer;
}
.fa-moon.toggle-icon {
    color: black;
    transition: all 1s ease;
}
.fa-sun.toggle-icon {
    color: gold;
    transition: all 1s ease;
}
.toggle-ball {
    width: 20px;
    height: 19px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
}
.sidebar {
    color: white;
    position: absolute;
    height: 100vh;
    width: 50px;
    /*top: 87px;*/
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    align-items: center;
}
.sidebar i {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
    transition: 0.5s all ease;
}
.sidebar i:hover {
    transform: scale(1.5);
}
/* 기본 bookmark 아이콘 스타일 */
.bookmark {
    color: rgba(255, 255, 0, 0.98); /* 클릭 시 색상 */
}


.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}
.content-container {
    margin: 0 0 0 50px;
}
.featured-content {
    height: 50vh;
    /*   background-color: tomato; */
    padding: 50px;
}
.featured-title {
    width: 250px;
    height: 150px;
    border-radius: 20px;
    transition: all 0.5s ease;
    object-fit: cover;
}
.featured-title:hover {
    transform: scale(1.2);
    margin: 0px 20px;
}
.featured-desc {
    width: 400px;
    margin: 25px 0;
    text-align: justify;
}
.featured-button {
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: black;
    background-color: #ff3939;
    font-weight: bold;
}
.movie-list-wrapper {
    position: relative;
    overflow: hidden;

    max-width: 100%; /* 컨테이너 최대 너비 설정 */
    margin: auto; /* 가운데 정렬 */
}
.movie-list-container {
    padding: 0 20px;
}
.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease;

    width: fit-content; /* 자식 요소의 너비만큼 크기 조정 */
}
.movie-list-item {
    margin: 0 5px;

    flex: 0 0 auto; /* flex-item의 너비가 줄어들지 않도록 설정 */
    width: 200px; /* 포스터의 너비 설정 */
    height: 200px; /* 포스터의 높이 설정, 필요에 따라 조정 */
    /*position: relative;*/
}
.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 20px;
    opacity: 0.9;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}
.movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 200px;
    height: 200px;
    /*object-fit: cover;*/
    object-fit: fill;
    border-radius: 20px;
}
.movie-list-item-title {
    background-color: #333;
    border-radius: 20px;
    color: white;
    padding: 5px 20px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}
.movie-list-item-desc {
    background-color: #333;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    position: absolute;
    top: 55px;
    left: 50px;
    width: 200px;
    text-align: justify;
    opacity: 0;
    transition: 1s all ease-in-out;
}
.movie-list-item-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    outline: none;
    position: absolute;
    bottom: 30px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}
i.right.arrow {
    color: lightgray;
    font-size: 100px;
    transition: 0.5s all ease;
    cursor: pointer;
    /*position: fixed;*/
    top: 90px;
    right: 0px;
    z-index: 10; /* 다른 요소 위에 표시되도록 z-index 설정 */
}
i.left.arrow {
    color: lightgray;
    font-size: 100px;
    transition: 0.5s all ease;
    cursor: pointer;
    /*position: fixed;*/
    top: 90px;
    /*right: 0px;*/
    z-index: 10; /* 다른 요소 위에 표시되도록 z-index 설정 */
}

i.arrow:hover {
    transform: scale(1.2);
}
.featured-content {
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

/* WhiteBackGround */
.container.active {
    background-color: white;
}
.navbar-container.active {
    background-color: white;
    color: black;
}
.sidebar.active {
    background-color: white;
    border-right: 1px solid black;
}
.sidebar.active i {
    color: black;
}

h1.active {
    font-size: 3rem;
}

h2.active {
    color: black;
    margin-top: 1rem;
}
.toggle.active {
    background-color: black;
    /*   border:1px solid white; */
}
.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}
footer.active {
    background-color: white;
}

/* Responsive */
@media only screen and (max-width: 765px) {
    .menu-container {
        display: none;
    }
    .profile-text-container {
        margin: 0 0.5rem;
    }
    .profile-container {
        position: absolute;
        right: 20px;
    }
    i.arrow {
        font-size: 75px;
    }
}

/*영화, 상영관, 상영일정, 좌석정보*/
.schedule-container {
    width: 80%;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.movie-schedule {
    margin-bottom: 20px;
    border: 1px solid #fff;
    padding: 10px;
}

.movie-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.theater-info {
    margin-bottom: 10px;
    text-align: center;
}

.time-slot {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #fff;
    background-color: #333;
    color: #fff; /* 텍스트 색상 기본값 */
    text-decoration: none; /* 링크에 대한 밑줄 제거 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 색상 전환 효과 */
}

.time-slot:hover {
    background-color: #ff3939; /* 호버 상태의 배경색 */
    color: #fff; /* 호버 상태의 텍스트 색상 */
}

.time-slot:hover .booking-text {
    display: inline; /* 호버 상태에서만 예매하기 텍스트 표시 */
}
.time-slot:hover .seats-available {
    display: none;
}

.booking-text {
    display: none; /* 기본 상태에서는 예매하기 텍스트 숨김 */
    font-weight: bold;
}

.seats-available {
    color: #fff;
    font-size: 0.8em;
}

/*한줄달력*/
.calendar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.month-and-selection {
    display: flex;
    align-items: center;
}
.month {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    flex-grow: 1;
}
.selected-date {
    font-size: 1.2em;
    margin-left: 20px;
    padding: 5px;
    background-color: #d9534f;
    border-radius: 4px;
    color: white;
}
.calendar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 10px;
    background-color: #333;
}
.calendar li {
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    color: white;
    border-right: 1px solid #555;
}
.calendar li:not(.disabled) {
    cursor: pointer;
}
.calendar li.disabled {
    color: #555;
}

.calendar li.today {
    background-color: #555;
    color: white; /* Ensures text color is white */
    /*border-radius: 4px;*/
}

/*.calendar .today, .calendar li:not(.disabled):hover {*/
/*    background-color: #666;*/
/*    color: white;*/
/*    border-radius: 4px;*/
/*}*/
.arrow, .today-btn {
    cursor: pointer;
    user-select: none;
    font-size: 1.5em;
    margin: 0 5px;
}
.today-btn {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 1em;
    line-height: 30px;
    height: 50px;
}

.today-btn:hover {
    background-color: #666;
    color: white;
    /*border-radius: 4px;*/
}

/* 오늘 날짜 및 선택 가능한 요소에 대한 호버 효과 */
.calendar .today:hover, .calendar li.clickable:hover {
    background-color: #666; /* 호버 시 배경색 */
    color: white;
    cursor: pointer;
}

/* 선택된 날짜 스타일 */
.calendar li.selected {
    background-color: #555; /* 선택된 날짜의 배경색 */
    color: #fff; /* 선택된 날짜의 글자색 */
    /* 여기에 추가 스타일을 정의할 수 있습니다. */
}

.today.clickable.back-color {
    background-color: #333;
}

.schedule-container {
    margin-top: 1rem;
}