@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');

.theater-box {
    position: relative;
    display: block;
    width: 100%;
    min-height: 400px;
    margin-top: 30px;
    box-sizing: border-box;
    background: url("static/images/theater_background.png" ) no-repeat 0 0;
}

.theater-box .favorite-area {
    position: relative;
    width: 100%;
    height: 50px;
}

.theater-box .favorite-area .favorite-title {
    position: absolute;
    top: 0;
    left: 48px;
    width: 260px;
    height: 49px;
    line-height: 49px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px #727171;
}

.theater-box .favorite-area .favorite-list {
    position: absolute;
    top: 0;
    left: 220px;
    width: 800px;
}

.favorite-list>ul>li:first-child {
    margin-left: 0;
}

.favorite-list>ul>li {
    float: left;
    margin-left: 2px;
    padding: 2px;
    border: 2px solid #6e6c6d;
    text-align: center;
}

.favorite-list>ul>li>a {
    display: block;
    width: 100px;
    height: 39px;
    line-height: 39px;
    border: 1px solid #6e6c6d;
}

.theater-box .favorite-area button {
    width: 200px;
    height: 39px;
    color: white;
    font-size: 20px;
    border: 1px solid #6e6c6d;
}

.theater-box .location-area {
    width: 100%;
    margin-top: 20px;
    padding: 0 3px;

}

.theater-box .location-area>ul>li {
    width: 10%;
    line-height: 48px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 1px solid #727171;
    border-top: 1px solid #727171;
}

.theater-box .location-area>ul>li:last-child {
    width: 20%;
}

.location-area>ul>li.on {
    outline: 3px solid #727171;
}

.theater-box .location-area>ul>li>button {
    display: block;
    width: 100%;
    background: 0 0;
    border: none;
}

.theater-box .location-area>ul>li>button:hover {
    cursor: pointer;
}

.theater-box .theater-list {
    display: none;
    position: absolute;
    left: 0;
    top: 138px;
    width: 100%;
    min-height: 85px;
    font-size: 15px;
    color: #b9b9b9;
}

.theater-box .theater-list ul {
    overflow: hidden;
    width: 100%;
}

.theater-box .theater-list ul li {
    position: relative;
    float: left;
    width: 20%;
    padding-left: 20px;
    line-height: 26px;
    text-align: left;
}

.theater-box .theater-list ul li a {
    border-bottom: 1px solid #6e6c6d;
}

.theater-box .location-area>ul>li.on .theater-list {
    display: block;
}

.theater-list ul li a:hover {
    color: #fff;
}
