<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>극장목록</title>
   <link rel="stylesheet" th:href="@{/css/cinema/cinemaList.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content" class="px-10">
    <span>전체극장</span>
    <br>
    <hr style="height: 1px">
    <br>
    <div class = "theater-box">
        <div class = "location-area">
            <ul>
                <li class="on">
                    <button type="button" class="select_location">서울</button>
                    <div class="theater-list">
                        <ul>
                            <li>
                                <a th:href="@{/cinema/cinemaDetail.do}" title="강남 상세보기">강남점</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class>
                    <button type="button" class="select_location">경기</button>
                    <div class="theater-list">
                        <ul>
                            <li>
                                <a herf="#" title="고양 상세보기">고양백석점</a>
                            </li>
                            <li>
                                <a herf="#" title="판교 상세보기">판교점</a>
                            </li>
                            <li>
                                <a herf="#" title="모란 상세보기">모란점</a>
                            </li>
                            <li>
                                <a herf="#" title="미금 상세보기">미금점</a>
                            </li>
                            <li>
                                <a herf="#" title="야탑 상세보기">야탑점</a>
                            </li>
                            <li>
                                <a herf="#" title="야탑 상세보기">분당점</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class>
                    <button type="button" class="select_location">인천</button>
                    <div class="theater-list">
                        <ul>
                            <li>
                                <a herf="#" title="청라 상세보기">청라점</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class>
                    <button type="button" class="select_location">대전/충청</button>
                    <div class="theater-list">
                        <ul>
                            <li>
                                <a herf="#" title="대전 상세보기">대전점</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class>
                    <button type="button" class="select_location">부산/울산</button>
                    <div class="theater-list">
                        <ul>
                            <li>
                                <a herf="#">센텀시티점</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br><br><br><br><br>
<!--    <span class="notice-span">극장 공지사항</span>-->
<!--    <br>-->
<!--    <hr style="height: 1px">-->
<!--    <br>-->
<!--    <table id="notice_tb">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>번호</th>-->
<!--                <th>유형</th>-->
<!--                <th>제목</th>-->
<!--                <th>작성일</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr>-->
<!--                <td>1</td>-->
<!--                <td>system</td>-->
<!--                <td class="notice-content">제목</td>-->
<!--                <td>작성일</td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</div>
<br>

<script layout:fragment="script" th:src="@{/js/cinema/cinemaList.js}"></script>
</html>
