<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>cinema</title>
    <!-- 페이지별 CSS -->
    <link rel="stylesheet" th:href="@{/css/cinema/cinemaDetail.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">
    <div class="container mx-auto p-2">
        <nav class="navbar">
            <div class="navbar-container">
                <div class="menu-container">
                    <ul class="menu-list">
                        <li class="menu-list-item active">Home</li>
                        <li class="menu-list-item"> > </li>
                        <li class="menu-list-item">전체 극장</li>
                        <li class="menu-list-item"> > </li>
                        <li class="menu-list-item">극장 상세정보</li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="sidebar">
            <i class="fas fa-home"></i>
            <i class="fas fa-search"></i>
            <i class="fas fa-bookmark"></i>
        </div>
        <div class="container">
            <div class="content-container">
                <div class="featured-content" style="background:linear-gradient(to bottom, rgba(0,0,0,0),#151515), url('https://cdn.womaneconomy.co.kr/news/photo/202301/215138_421317_3746.jpg');">
                    <!--                <img class="featured-title" src="https://www.bt.com/content/dam/bt/portal/images/articles/tv/TV%20Film%20Venom%20hero.jpg/jcr:content/renditions/landscape-desktop.764.430.jpg" alt="">-->
                    <h1 class="active">강남</h1>
                    <p class="featured-desc">
                    <ul>
                        <li>
                            위치 : 서울 강남구 역삼동
                        </li>
                        <li>
                            로맨틱 멀티플렉스! 젊은 도시 강남이 한 눈에 보이는 최상의 View를 제공
                        </li>
                        <li>
                            tel : 02-1111-2222
                        </li>
                    </ul>
                    </p>
                    <button class="featured-button">
                        예매하기
                    </button>
                </div>
                <div class="movie-list-container">
                    <h2>현재 상영작</h2>
                    <div class="movie-list-wrapper">
                        <div class="movie-list">
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="https://search.pstatic.net/common?type=o&size=176x264&quality=85&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20240103_132%2F1704256822900I1c3f_JPEG%2Fmovie_image.jpg%3Ftype%3Dw640_2" alt="">
                                <span class="movie-list-item-title">웡카</span>
                                <button class="movie-list-item-button">예매하기</button>
                            </div>
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="https://search.pstatic.net/common?type=o&size=176x264&quality=85&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20240208_26%2F1707318899750VsEpF_JPEG%2Fmovie_image.jpg%3Ftype%3Dw640_2" alt="">
                                <span class="movie-list-item-title">도그데이즈</span>
                                <button class="movie-list-item-button">예매하기</button>
                            </div>
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="https://search.pstatic.net/common?type=o&size=176x264&quality=85&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20240108_48%2F1704683871748oPovk_JPEG%2Fmovie_image.jpg%3Ftype%3Dw640_2" alt="">
                                <span class="movie-list-item-title">데드맨</span>
                                <button class="movie-list-item-button">예매하기</button>
                            </div>
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="https://search.pstatic.net/common?type=o&size=176x264&quality=85&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20240112_167%2F1705027079878OkkaQ_JPEG%2Fmovie_image.jpg%3Ftype%3Dw640_2" alt="">
                                <span class="movie-list-item-title">아가일</span>
                                <button class="movie-list-item-button">예매하기</button>
                            </div>
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="https://search.pstatic.net/common?type=o&size=176x264&quality=85&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20240124_126%2F1706084548964mScff_JPEG%2Fmovie_image.jpg%3Ftype%3Dw640_2" alt="">
                                <span class="movie-list-item-title">시민덕희</span>
                                <button class="movie-list-item-button">예매하기</button>
                            </div>
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="https://search.pstatic.net/common?type=o&size=176x264&quality=85&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20240206_234%2F1707210318193MxCbW_JPEG%2Fmovie_image.jpg%3Ftype%3Dw640_2" alt="">
                                <span class="movie-list-item-title">건국전쟁</span>
                                <button class="movie-list-item-button">예매하기</button>
                            </div>
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="https://search.pstatic.net/common?type=o&size=176x264&quality=85&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20240117_295%2F17054759508277Sn0I_JPEG%2Fmovie_image.jpg%3Ftype%3Dw640_2" alt="">
                                <span class="movie-list-item-title">아기상어 극장판</span>
                                <button class="movie-list-item-button">예매하기</button>
                            </div>
                        </div>
                        <i class="fas fa-chevron-right arrow"></i>
                    </div>
                </div>
                <div class="movie-list-container">
                    <h2>상영 예정작</h2>
                    <div class="movie-list-wrapper">
                        <div class="movie-list">
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="https://search.pstatic.net/common?type=o&size=176x264&quality=85&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20240125_47%2F1706183862774dy9yd_JPEG%2Fmovie_image.jpg%3Ftype%3Dw640_2" alt="">
                                <span class="movie-list-item-title">귀멸의 칼날:인연의 기적</span>
                                <button class="movie-list-item-button">예매하기</button>
                            </div>
                            <div class="movie-list-item">
                                <img class="movie-list-item-img" src="https://search.pstatic.net/common?type=o&size=176x264&quality=85&direct=true&src=https%3A%2F%2Fs.pstatic.net%2Fmovie.phinf%2F20240125_91%2F1706161641964k2jXp_JPEG%2Fmovie_image.jpg%3Ftype%3Dw640_2" alt="">
                                <span class="movie-list-item-title">우견니</span>
                                <button class="movie-list-item-button">예매하기</button>
                            </div>
                        </div>
                        <i class="fas fa-chevron-right arrow"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="script" th:src="@{/js/cinema/cinemaDetail.js}"></script>
</html>