<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>극장목록</title>
   <link rel="stylesheet" th:href="@{/css/cinema/cinemaList.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content" class="px-10">
    <span>전체극장</span>
    <br>
    <hr style="height: 1px">
    <br>
    <div class = "theater-box">
        <div class = "location-area">
            <ul>
                <li th:each="cinema, status : ${cinemas}">
                    <button type="button" class="select_location" th:text="${cinema.location_name}"></button>
                    <div class="theater-list">
                        <ul>
                            <li>
                                <a th:href="@{'/cinema/cinemaDetail.do'(id=${cinema.id})}" th:text="${cinema.region_cinema}"></a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <br><br><br><br><br>
<!--    <span class="notice-span">극장 공지사항</span>-->
<!--    <br>-->
<!--    <hr style="height: 1px">-->
<!--    <br>-->
<!--    <table id="notice_tb">-->
<!--        <thead>-->
<!--            <tr>-->
<!--                <th>번호</th>-->
<!--                <th>유형</th>-->
<!--                <th>제목</th>-->
<!--                <th>작성일</th>-->
<!--            </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--            <tr>-->
<!--                <td>1</td>-->
<!--                <td>system</td>-->
<!--                <td class="notice-content">제목</td>-->
<!--                <td>작성일</td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</div>
<br>


<script layout:fragment="script" th:src="@{/js/cinema/cinemaList.js}"></script>

</html>
