<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>영화상세페이지</title>
    <!-- 사용자css -->
    <link rel="stylesheet" th:href="@{/css/movieData/movieDetail.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content" class="flex justify-center">
    <div class="container">
        <div class="content">
            <!-- Home -->
            <main class="movie_home">
                <!-- Movie information -->
                <div class="movie_info">

                    <div class="movie_info-left">
                        <h1 class="movie_title" th:text="${movieData.title}">윙카</h1>
                        <div class="movie_rate">
                            <th:block th:if="${movieData.avgReviewScore} == 5.0">
                                <ul class="movie_stars">
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </th:block>
                            <th:block th:if="${movieData.avgReviewScore} >= 4.0 and ${movieData.avgReviewScore} < 5.0">
                                <ul class="movie_stars">
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </th:block>
                            <th:block th:if="${movieData.avgReviewScore} >= 3.0 and ${movieData.avgReviewScore} < 4.0">
                                <ul class="movie_stars">
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </th:block>
                            <th:block th:if="${movieData.avgReviewScore} >= 2.0 and ${movieData.avgReviewScore} < 3.0">
                                <ul class="movie_stars">
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </th:block>
                            <th:block th:if="${movieData.avgReviewScore} >= 1.0 and ${movieData.avgReviewScore} < 2.0">
                                <ul class="movie_stars">
                                    <li class="movie_star rated">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </th:block>
                            <th:block th:if="${movieData.avgReviewScore} >= 0.0 and ${movieData.avgReviewScore} < 1.0">
                                <ul class="movie_stars">
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                    <li class="movie_star">
                                        <i class="fa-solid fa-star"></i>
                                    </li>
                                </ul>
                            </th:block>
                            <div class="movie_comment" th:text="|예매율 ${movieData.advanceReservation}%|"></div>
                        </div>
                        <div class="movie_infos" th:text="|개봉 : ${movieData.releaseDate}|"></div>
                        <div class="flex">
                            장르 :&nbsp;
                            <span th:each="movieGenre, status : ${movieData.genres}">
                                <p th:text="|${movieGenre.genreList}${!status.last ? ', ' : ''}|"></p>
                            </span>
                        </div>
                        <div th:text="|러닝타임 : ${movieData.runningTime} 분|"></div>
                        <div th:text="|감독 : ${movieData.director}|"></div>
                        <div th:text="|배우 : ${movieData.actor}|"></div>
                        <!-- name() 메소드는 열거형 상수의 이름을 문자열로 반환 -->
                        <div th:text="|등급 : ${movieData.filmRatings.name() == 'ALL' ? '전체관람가' :
                                               movieData.filmRatings.name() == 'EIGHTEEN' ? '18세이상관람가' :
                                               movieData.filmRatings.name() == 'FIFTEEN' ? '15세이상관람가' :
                                               movieData.filmRatings.name() == 'TWELVE' ? '12세이상관람가' :
                                               movieData.filmRatings.name() == 'NONE' ? '등급 없음' : '등급 없음'}|"></div>
                        <div class="movie_des" th:text="${movieData.summary}">
                            줄거리
                        </div>
                        <div class="movie_action">
                            <!--  임시 예매 페이지 이동 바로 좌석선택으로 넘어감   -->
                            <button class="movie_button" th:onclick="|location.href = '@{/reservation/reservationBooking.do}'|">예매하기</button>
                        </div>
                    </div>


                    <div class="movie_info-right">
                        <div class="movie_img">
                            <img
                                    th:src= "${movieData.poster}" alt="movie_image"
                                    class="movie_img-item movie_img-first"
                            />
                        </div>
                    </div>
                </div>

                <div class="line"></div>
                <!-- trailer -->
                <div class="text-2xl">Trailer</div>
                <div class="trailer-container">
                    <video autoplay muted controls loop>
                        <source th:src= "${movieData.trailer}" type="video/mp4">
                    </video>
                </div>
                <div class="line"></div>

                <!-- review -->
                <div class="text-2xl">Review</div>
                <br>
                <div th:each="review, status : ${movieData.reviews}">
                    <figure class="">
                        <th:block th:if="${review.reviewScore} == 5.0">
                            <ul class="movie_stars">
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </ul>
                        </th:block>
                        <th:block th:if="${review.reviewScore} >= 4.0 and ${review.reviewScore} < 5.0">
                            <ul class="movie_stars">
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </ul>
                        </th:block>
                        <th:block th:if="${review.reviewScore} >= 3.0 and ${review.reviewScore} < 4.0">
                            <ul class="movie_stars">
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </ul>
                        </th:block>
                        <th:block th:if="${review.reviewScore} >= 2.0 and ${review.reviewScore} < 3.0">
                            <ul class="movie_stars">
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </ul>
                        </th:block>
                        <th:block th:if="${review.reviewScore} >= 1.0 and ${review.reviewScore} < 2.0">
                            <ul class="movie_stars">
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </ul>
                        </th:block>
                        <th:block th:if="${review.reviewScore} >= 0.0 and ${review.reviewScore} < 1.0">
                            <ul class="movie_stars">
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </ul>
                        </th:block>
                        <blockquote class="shadow-2xl shadow-red-100/50">
                                <p class="m-2 text-xl font-semibold text-white dark:text-white" th:text="${review.reviewDetail}">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
                                <figcaption class="mx-2 flex items-center mt-6 space-x-3 rtl:space-x-reverse">
                                    <img class="w-6 h-6 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSokjeTAtRKHg0qff0jJb9jRcB9_MGXYOrulw&usqp=CAU" alt="profile picture">
                                    <div class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-300 dark:divide-gray-700">
                                        <cite class="pe-3 font-medium text-white" th:text="${review.member.memberName}">UserName</cite>
                                        <cite class="ps-3 text-sm text-gray-500 dark:text-gray-400" th:text="${review.member.memberLoginId}">ID</cite>
                                    </div>
                                </figcaption>
                            <div class="createAt">
                                <cite class="ps-3 text-sm text-gray-500 dark:text-gray-400 " th:text="|${#temporals.format(review.reviewCreatedAt, 'yyyy/MM/dd HH:mm')}|">date</cite>
                            </div>
                        </blockquote>
                    </figure>
                </div>
            </main>
        </div>
    </div>
</div>
<script layout:fragment="script"></script>
</html>