<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>영화상세페이지</title>
    <!-- 사용자css -->
    <link rel="stylesheet" th:href="@{/css/movie/movieDetail.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">
    <div class="container">
        <div class="content">
            <!-- Home -->
            <main class="movie_home">
                <!-- Movie information -->
                <div class="movie_info">

                    <div class="movie_info-left">
                        <h1 class="movie_title" th:text="${movie.title}">윙카</h1>
                        <div class="movie_rate">
                            <ul class="movie_stars">
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star rated">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li class="movie_star"><i class="fa-solid fa-star"></i></li>
                            </ul>
                            <div class="movie_comment" th:text="|평점${movie.advanceReservation}%|"></div>
                        </div>
                        <div class="movie_infos" th:text="|개봉 : ${movie.releaseDate}|"></div>
                        <div class="flex">
                            장르 :&nbsp;
                            <span th:each="movieGenre, status : ${movie.genres}">
                                <p th:text="|${movieGenre.genreList}${!status.last ? ', ' : ''}|"></p>
                            </span>
                        </div>
                        <div th:text="|러닝타임 : ${movie.runningTime} 분|"></div>
                        <div th:text="|감독 : ${movie.director}|"></div>
                        <div th:text="|배우 : ${movie.actor}|"></div>
                        <!-- name() 메소드는 열거형 상수의 이름을 문자열로 반환 -->
                        <div th:text="|등급 : ${movie.filmRatings.name() == 'ALL' ? '전체관람가' :
                                               movie.filmRatings.name() == 'EIGHTEEN' ? '18세이상관람가' :
                                               movie.filmRatings.name() == 'FIFTEEN' ? '15세이상관람가' :
                                               movie.filmRatings.name() == 'TWELVE' ? '12세이상관람가' :
                                               movie.filmRatings.name() == 'NONE' ? '등급 없음' : '등급 없음'}|"></div>
                        <div class="movie_des" th:text="${movie.summary}">
                            줄거리
                        </div>
                        <div class="movie_action">
                            <button class="movie_button" th:onclick="|location.href = '@{/reservation/reservationMain.do}'|">예매하기</button>
                        </div>
                    </div>


                    <div class="movie_info-right">
                        <div class="movie_img">
                            <img
                                    th:src= "${movie.poster}" alt="movie_image"
                                    class="movie_img-item movie_img-first"
                            />
                        </div>
                    </div>
                </div>

                <div class="line"></div>
                <!-- trailer -->
                <div class="text-2xl">Trailer</div>
                <div class="trailer-container">
                    <video autoplay muted controls loop>
                        <source th:src= "${movie.trailer}" type="video/mp4">
                    </video>
                </div>
                <div class="line"></div>

                <!-- review -->
                <div class="text-2xl">Review</div>
                <br>
                <figure class="max-w-screen-md">
                    <ul class="m-2 movie_stars">
                        <li class="movie_star rated">
                            <i class="fa-solid fa-star"></i>
                        </li>
                        <li class="movie_star rated">
                            <i class="fa-solid fa-star"></i>
                        </li>
                        <li class="movie_star rated">
                            <i class="fa-solid fa-star"></i>
                        </li>
                        <li class="movie_star rated">
                            <i class="fa-solid fa-star"></i>
                        </li>
                        <li class="movie_star"><i class="fa-solid fa-star"></i></li>
                    </ul>
                    <blockquote>
                        <p class="m-2 text-xl font-semibold text-white dark:text-white">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
                    </blockquote>
                    <figcaption class="mx-2 flex items-center mt-6 space-x-3 rtl:space-x-reverse">
                        <img class="w-6 h-6 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/bonnie-green.png" alt="profile picture">
                        <div class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-300 dark:divide-gray-700">
                            <cite class="pe-3 font-medium text-white">UserName</cite>
                            <cite class="ps-3 text-sm text-gray-500 dark:text-gray-400">ID</cite>
                        </div>
                    </figcaption>
                </figure>
            </main>
        </div>
    </div>
</div>
<script layout:fragment="script"></script>
</html>