<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>영화 목록</title>
    <link rel="stylesheet" th:href="@{/css/movie/movieList.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">
    <br>
    <div class="flex justify-between w-full h-auto">
        <span class="font-semibold ml-5">영화 목록</span>
        <label for="underline_select" class="sr-only">Underline select</label>
        <select id="underline_select" class="block mr-5 mb-2 text-sm text-gray-500 bg-transparent border-0 border-b-2 border-red-600 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-red-600 peer">
            <option selected>Select genre</option>
            <option value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
        </select>
    </div>
    <hr style="height: 1px">
    <br>
    <div class="section-1-2 flex flex-wrap w-full h-auto">
        <div th:each="movie, status : ${movies}">
            <div><a href="#">
                <th:block th:if="|${movie.filmRatings.name() == 'ALL'}|">
                    <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-green-100/50 bg-green-100 text-green-800 text-m font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">ALL</span>
                </th:block>
                <th:block th:if="|${movie.filmRatings.name() == 'TWELVE'}|">
                    <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-yellow-100/50 bg-yellow-100 text-yellow-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">12</span>
                </th:block>
                <th:block th:if="|${movie.filmRatings.name() == 'FIFTEEN'}|">
                    <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-purple-100/50 bg-purple-100 text-purple-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">15</span>
                </th:block>
                <th:block th:if="|${movie.filmRatings.name() == 'EIGHTEEN'}|">
                    <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-red-100/50 bg-red-100 text-red-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">18</span>
                </th:block>
                <th:block th:if="|${movie.filmRatings.name() == 'NONE'}|">
                    <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-gray-100/50 bg-gray-100 text-gray-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">미정</span>
                </th:block>
                <img th:src="${movie.poster}" th:alt="${movie.title}"></a>
            </div>
            <a class="movie-title mb-1" href="#" th:text="${movie.title}">한산-용의 출현</a>
            <a th:href="@{#}">
            </a>
            <a class="movie-content" href="#">
                <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="egg">
                <span th:text="|예매율 ${movie.advanceReservation}%|">예매율 25.7%</span>
                <span class="text-sm" th:text="|${movie.releaseDate} 개봉|">2023.12.11 개봉</span>
            </a>
            <div class="movie_action">
                <button class="movie_button text-sm mb-3">예매하기</button>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script"></script>
</html>
