<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>영화 목록</title>
    <link rel="stylesheet" th:href="@{/css/movie/movieList.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content" class="wrap-container">
    <div class="home-container">
        <br>
        <div class="flex justify-between w-full h-auto">
            <span class="font-semibold ml-5">영화 목록</span>
            <form>
                <label for="underline_select" class="sr-only">Underline select</label>
                    <select id="underline_select" name="genre" th:onchange="this.form.submit()" class="block mr-5 mb-2 text-sm text-gray-500 bg-transparent border-0 border-b-2 border-red-600 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-red-600 peer">
                        <option selected>Select genre</option>
                        <option value="드라마">드라마</option>
                        <option value="액션">액션</option>
                        <option value="코미디">코미디</option>
                        <option value="판타지">판타지</option>
                        <option value="범죄">범죄</option>
                        <option value="멜로">멜로</option>
                        <option value="느와르">느와르</option>
                        <option value="스릴러">스릴러</option>
                        <option value="공포">공포</option>
                        <option value="전쟁">전쟁</option>
                        <option value="애니메이션">애니메이션</option>
                        <option value="로맨스">로맨스</option>
                        <option value="호러">호러</option>
                    </select>
            </form>
        </div>
        <hr style="height: 1px">
        <br>
        <div class="section-1-2 flex flex-wrap w-full h-auto">
            <div th:each="movie, status : ${movies}">
                <div><a th:href="@{/movie/movieDetail.do(id=${movie.id})}">
                    <th:block th:if="|${movie.filmRatings.name() == 'ALL'}|">
                        <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-green-100/50 bg-green-100 text-green-800 text-m font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">ALL</span>
                    </th:block>
                    <th:block th:if="|${movie.filmRatings.name() == 'TWELVE'}|">
                        <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-yellow-100/50 bg-yellow-100 text-yellow-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">12</span>
                    </th:block>
                    <th:block th:if="|${movie.filmRatings.name() == 'FIFTEEN'}|">
                        <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-purple-100/50 bg-purple-100 text-purple-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">15</span>
                    </th:block>
                    <th:block th:if="|${movie.filmRatings.name() == 'EIGHTEEN'}|">
                        <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-red-100/50 bg-red-100 text-red-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">18</span>
                    </th:block>
                    <th:block th:if="|${movie.filmRatings.name() == 'NONE'}|">
                        <span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-gray-100/50 bg-gray-100 text-gray-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">미정</span>
                    </th:block>
                    <img th:src="${movie.poster}" th:alt="${movie.title}"></a>
                </div>
                    <a class="movie-title mb-1" th:href="@{/movie/movieDetail.do(id=${movie.id})}" th:text="${#strings.abbreviate(movie.title, 20)}"></a>
                <a th:href="@{/movie/movieDetail.do(id=${movie.id})}">
                </a>
                <a class="movie-content" th:href="@{/movie/movieDetail.do(id=${movie.id})}">
                    <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="egg">
                    <span th:text="|예매율 ${movie.advanceReservation}%|"></span>
                    <span class="text-sm" th:text="|${movie.releaseDate} 개봉|"></span>
                </a>
                <div class="movie_action">
                    <button class="movie_button text-sm mb-3" th:onclick="|location.href = '@{/reservation/reservationMain.do}'|">예매하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script"></script>
</html>
