<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>상영 예정작</title>
	<link rel="stylesheet" th:href="@{/css/movie/preMovieList.css}" />
</head>
<style layout:fragment="style"></style>

<div layout:fragment="content">
	<div class="home-container">
		<br>
		<div class="flex justify-between w-full h-auto">
			<!--            <div class="flex items-center w-48">-->
			<ul class="release flex">
				<li class="mr-4">
					<span class="font-semibold ml-5 mb-2">영화 목록</span>
				</li>
				<a th:href="@{/movie/movieList.do}" id="movie-list" class="flex items-baseline mx-2 cursor-pointer w-20">
					<!--                        <img width="10px" height="5px" th:src="@{/images/icons8-forward-16.png}" alt="pointer">-->
<!--					<img width="10" height="6" src="https://img.icons8.com/sf-black-filled/64/ef4444/forward-arrow.png" alt="forward-arrow"/>-->
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-1 bi bi-cursor text-red-500" viewBox="0 0 16 16">
						<path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
					</svg>
					<li class="li-text font-medium">무비차트</li>
				</a>
				<a th:href="@{/movie/preMovieList.do}" id="scheduled-movie" class="flex items-baseline cursor-pointer w-18">
					<!--                        <img width="10px" height="5px" th:src="@{/images/icons8-forward-16.png}" alt="pointer">-->
<!--					<img width="10" height="6" src="https://img.icons8.com/sf-black-filled/64/ef4444/forward-arrow.png" alt="forward-arrow"/>-->
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-1 bi bi-cursor text-red-500" viewBox="0 0 16 16">
						<path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
					</svg>
					<li id="hover-text" class="li-text text-red-500 font-medium">상영예정작</li>
				</a>
			</ul>
			<!--            </div>-->
			<form class="flex justify-end mt-1">
				<label for="underline_select" class="sr-only">Underline select</label>
				<select id="underline_select" name="genre" th:onchange="this.form.submit()"
						class="block mr-7 mb-2 text-sm text-gray-500 bg-transparent border-0 border-b-2 border-red-600 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-red-600 peer"
						style="width: 250px; font-size: 1.0rem;">
					<option value="" th:selected="${genre == null or genre == ''}">Select genre</option>
					<option value="액션" th:selected="${genre == '액션'}">액션</option>
					<option value="모험" th:selected="${genre == '모험'}">모험</option>
					<option value="애니메이션" th:selected="${genre == '애니메이션'}">애니메이션</option>
					<option value="코미디" th:selected="${genre == '코미디'}">코미디</option>
					<option value="범죄" th:selected="${genre == '범죄'}">범죄</option>
					<option value="다큐멘터리" th:selected="${genre == '다큐멘터리'}">다큐멘터리</option>
					<option value="드라마" th:selected="${genre == '드라마'}">드라마</option>
					<option value="가족" th:selected="${genre == '가족'}">가족</option>
					<option value="판타지" th:selected="${genre == '판타지'}">판타지</option>
					<option value="역사" th:selected="${genre == '역사'}">역사</option>
					<option value="공포" th:selected="${genre == '공포'}">공포</option>
					<option value="음악" th:selected="${genre == '음악'}">음악</option>
					<option value="미스터리" th:selected="${genre == '미스터리'}">미스터리</option>
					<option value="로맨스" th:selected="${genre == '로맨스'}">로맨스</option>
					<option value="SF" th:selected="${genre == 'SF'}">SF</option>
					<option value="TV 영화" th:selected="${genre == 'TV 영화'}">TV 영화</option>
					<option value="스릴러" th:selected="${genre == '스릴러'}">스릴러</option>
					<option value="전쟁" th:selected="${genre == '전쟁'}">전쟁</option>
					<option value="서부" th:selected="${genre == '서부'}">서부</option>
					<option value="뮤지컬" th:selected="${genre == '뮤지컬'}">뮤지컬</option>
				</select>
			</form>
		</div>

		<hr style="height: 1px">

		<br>
		<br>
		<div class="section-1-2 flex flex-wrap w-full h-auto">
			<div th:each="movie, status : ${movies}">
				<div>
					<a th:href="@{/movie/movieDetail.do(id=${movie.id})}">
						<th:block th:if="|${movie.filmRatings == '전체관람가'}|">
							<span style="font-size: 0.2em" class="grade bg-gradient-to-r bg-green-100 text-green-800 text-m font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">ALL</span>
						</th:block>
						<th:block th:if="|${movie.filmRatings == '12세관람가'}|">
							<span style="font-size: 0.2em" class="grade bg-gradient-to-r bg-yellow-100 text-yellow-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-yellow-300 border border-yellow-300">12</span>
						</th:block>
						<th:block th:if="|${movie.filmRatings == '15세관람가'}|">
							<span style="font-size: 0.2em" class="grade bg-gradient-to-r bg-purple-100 text-purple-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-purple-400 border border-purple-400">15</span>
						</th:block>
						<th:block th:if="|${movie.filmRatings == '18세관람가(청소년관람불가)'}|">
							<span style="font-size: 0.2em" class="grade bg-gradient-to-r bg-red-100 text-red-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">18</span>
						</th:block>
						<th:block th:if="|${movie.filmRatings == '18세관람가(청소년관람불가)'}|">
							<span style="font-size: 0.2em" class="grade bg-gradient-to-r bg-red-100 text-red-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-red-400 border border-red-400">18</span>
						</th:block>
						<th:block th:if="|${movie.filmRatings == '정보 없음'}|">
							<span style="font-size: 0.2em" class="grade bg-gradient-to-r shadow-lg shadow-gray-100/50 bg-gray-100 text-gray-800 text-l font-bold me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-400 border border-gray-500">미정</span>
						</th:block>
						<th:block th:if="${movie.posterUrl == null}">
							<img loading="lazy" src="https://t4.ftcdn.net/jpg/03/08/67/51/360_F_308675145_Ye70fJFVPntNVnmxjtVgMy5P8MDEmusB.jpg">
						</th:block>
						<th:block th:if="|${movie.posterUrl != null and #strings.startsWith(movie.posterUrl, 'http://file.koreafilm.or.kr')}|">
							<img loading="lazy" th:src="${movie.posterUrl}" th:alt="${movie.title}">
						</th:block>
						<th:block th:if="|${movie.posterUrl != null and !#strings.startsWith(movie.posterUrl, 'http://file.koreafilm.or.kr')}|">
							<img loading="lazy" th:src="|https://image.tmdb.org/t/p/w200${movie.posterUrl}|" th:alt="${movie.title}">
						</th:block>
					</a>
				</div>
				<a class="movie-title mb-1" th:href="@{/movie/movieDetail.do(id=${movie.id})}" th:text="${#strings.abbreviate(movie.title, 20)}"></a>
				<a th:href="@{/movie/movieDetail.do(id=${movie.id})}">
				</a>
				<!--                <a class="movie-content" th:href="@{/movie/movieDetail.do(id=${movie.id})}">-->
				<!--                    <img src="https://img.cgv.co.kr/R2014/images/common/egg/eggGoldenegggreat.png" alt="egg">-->
				<!--                </a>-->
				<!--                <a class="movie-content" th:href="@{/movie/movieDetail.do(id=${movie.id})}"></a>-->
				<div class="m-0 p-0">
					<strong class="text-xs text-zinc-400">
						평점
						<span class="text-xs text-zinc-400 mx-1" th:text="${movie.voteAverage}"></span>
						|
					</strong>

					<strong class="text-xs text-zinc-400 mx-1">
						예매율
						<span class="text-xs text-zinc-400">29.1 %</span>
					</strong>
				</div>
				<span class="text-xs text-zinc-400">
                    <strong th:text="|${#temporals.format(movie.releaseDate, 'yyyy.MM.dd')} 개봉|"></strong>
                </span>
				<em class="text-base text-red-500 ml-2" th:if="|${movie.dDay != ''}|" th:text="${movie.dDay}"></em>
				<div class="movie_action">
					<button class="movie_button text-sm mb-3" th:onclick="|location.href = '@{/reservation/reservationBooking.do}'|">예매하기</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script layout:fragment="script"></script>
</html>
