<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<footer th:fragment="footer" class="shadow dark:bg-gray-800">
    <div class="md:flex md:items-center md:justify-between">
      <span class="text-l text-white sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="text-l hover:underline md:hover:text-red-600">Bootbox™</a>. All Rights Reserved.
      </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium  text-white dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="text-white text-l font-medium  hover:underline md:hover:text-red-600 me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="text-white text-l font-medium  hover:underline md:hover:text-red-600 me-4 md:me-6">Privacy Policy</a>
            </li>
            <li>
                <a href="#" class="text-white text-l font-medium  hover:underline md:hover:text-red-600 me-4 md:me-6">Licensing</a>
            </li>
            <li>
                <a href="#" class="text-white text-l font-medium  hover:underline md:hover:text-red-600">Contact</a>
            </li>
        </ul>
    </div>
</footer>
</html>