<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/default}">
<head>
    <title>movie</title>
</head>
<style layout:fragment="style">
</style>

<div layout:fragment="content" class="px-10">
    <span>무비차트</span>
    <br>
    <hr style="height: 1px">
    <br>
    <div  class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div>
            <a href="#"><img class="h-auto max-w-full rounded-lg" th:src="@{/images/웡카.jpg}"></a>
                <div>웡카🍕</div>
        </div>
        <div>
            <a href="#"><img class="h-auto max-w-full rounded-lg" th:src="@{/images/시민덕희.jpg}"></a>
            <div>시민덕희</div>
        </div>
        <div>
            <a href="#"><img class="h-auto max-w-full rounded-lg" th:src="@{/images/외계인2부.jpg}"></a>
            <div>외계+인 2부</div>
        </div>
        <div>
            <a href="#"><img class="h-auto max-w-full rounded-lg" th:src="@{/images/추락의 해부.jpg}"></a>
            <div>추락의 해부</div>
        </div>
    </div>
</div>

<script layout:fragment="script">
</script>
</html>
