.container {
    display: block;
    width: 100vh; /* 컨테이너의 너비를 지정합니다. */
    height : 50vh;
    margin: 0 auto; /* 좌우 여백을 auto로 설정하여 가운데 정렬합니다. */
    text-align: center; /* 내용의 가운데 정렬을 위해 텍스트를 가운데 정렬합니다. */
    border: 1px solid firebrick; /* 컨테이너 테두리를 표시하기 위한 예시 스타일링입니다. */
}

.centered-box {
    padding-top: 50px;

    height: 20vh; /* 요소의 높이를 지정 */
    text-align: center; /* 텍스트를 수평 가운데 정렬 */

}

#goHome
{
    display: inline-block;
    padding: 10px 20px;
    background-color: firebrick;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}