html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Calibri Light";
    font-weight: 500;
    font-size: 1.2em;
}
th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}
thead >tr>th{
    background-color: #232323;
    border-top: 2px solid #ff003b;
    border-bottom: 2px solid #ff003b;
    /*text-align: center;*/
}
tbody {
    tr {
        &:hover {background-color: rgba(255,255,255,0.3);
        }
    }
    td {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                background-color: rgba(255,255,255,0.2);
                z-index: -1;
                /*text-align: center;*/
            }
        }
    }
}
.title-box
{
    margin-bottom: 40px;
}

#memberId, #Title
{
    display: none;
}
table
{
    margin: auto;
}
th#askNumber
{
    width: 90px;
}
th#askTitle
{
    width: 700px;
}
th#askType
{
    padding-left: 24px;
}
th#askDate
{
    padding-left: 24px;
}
td
{
    /*text-align: left;*/
    vertical-align : middle;
    padding-left: 30px;
    padding-top: 8px;
    /*text-align: center;*/
}
#type
{
    text-align: center;
}
button#askDetail
{
    border-radius: 10px 10px 10px 10px;
    width: 68px;
    height: 30px;
    background-color: #bb0808;
}
button#askDetail:active {
    /* 버튼클릭하면 색 바뀜 */
    background-color: #d20707;
}
footer {
    height: 60px;
    /*position: relative;*/
    transform: translateY(0%);
    /* 페이지의 아래쪽에 고정 */
    width: 99%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}