html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Calibri Light";
    font-weight: 500;
    font-size: 1.2em;
}
header {
    font-family: "Agency FB";
    font-weight: 500;
    font-size: 1.2em;
}
section#content {
    min-height: calc(100vh - 195px); /* 섹션의 최소 높이를 화면 높이에서 헤더와 푸터의 높이를 뺀 값으로 설정 */
    position: relative; /* 섹션을 상대 위치로 설정 */
    padding: 0;
}
/*.wrap-container {*/
/*    height: auto;*/
/*    min-height: 100%;*/
/*    padding-bottom: 60px;*/
/*}*/
.home-container {
    min-height: 600px;
    margin: 0 50px 0 0;
}
footer {
    background-color: #212121;
    background-clip: content-box;
    position: relative;
    height: 113px;
    bottom: 0; /* 바디 하단에 배치 */
    width: 100%; /* 너비를 바디와 일치시킴 */
    font-family: "Agency FB";
}
/*.centered-container {*/
/*    width: 80%; !* 또는 원하는 너비 *!*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    display: block;*/
/*    padding: 20px; !* 내부 여백은 선택적 *!*/
/*}*/
.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 또는 원하는 너비 */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*display: block;*/
    /*padding: 40px 0; !* 내부 여백은 선택적 *!*/
    /*transform: translate(-12%, -127%);*/
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-box {
    padding: 0;
}
