.wrap-container {
    height: auto;
    min-height: 100%;
    padding-bottom: 60px;
}
.home-container {
    min-height: 600px;
    margin: 90px 10px 10px;
}
footer {
    height: 60px;
    position: relative;
    transform: translateY(50%);
}
.title-box > li {
    width: 150px;
}
.text-box {
    background-color: rgba(255,255,255,0.2);
}

/*h4{*/
/*    position:relative;*/
/*    padding:10px 5px;*/
/*    border-bottom:1px solid red;*/
/*    display: inline-block;*/
/*}*/

/*h4:before {*/
/*    content:"";*/
/*    display:block;*/
/*    position:absolute;*/
/*    left:0;*/
/*    bottom:5px;*/
/*    width:100%;*/
/*    height:3px;*/
/*    background:red;*/
/*}*/